.jumbotron{
    background-image: url(../images/train-station.jpg);
    background-size: cover;
    height: 550px;
}

.textShadow{
    text-shadow:1px 1px black;
}

.main-page{
    background-color: black;
}